collections.namedtuple()
Basically, namedtuples are easy to create, lightweight object types.
They turn tuples into convenient containers for simple tasks.
With namedtuples, you donâ€™t have to use integer indices for accessing members of a tuple.

Example

Code 01

 from collections import namedtuple
 Point = namedtuple('Point','x,y')
 pt1 = Point(1,2)
 pt2 = Point(3,4)
 dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
 print dot_product
11
Code 02

 from collections import namedtuple
 Car = namedtuple('Car','Price Mileage Colour Class')
 xyz = Car(Price = 100000, Mileage = 30, Colour = 'Cyan', Class = 'Y')
 print xyz
Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')
 print xyz.Class
Y

In [4]:
from collections import namedtuple
Point = namedtuple('Point','x,y')
print(Point(1,2))
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
print(dot_product)

Point(x=1, y=2)
11

In [34]:
from collections import namedtuple

a = int(input())
b = []
line = namedtuple('line',input().split())
for i in range(a):
    integer_list = tuple(input().split())
    b.append(int(line._make(integer_list).MARKS))
c = (sum(b) / len(b))
print('%.2f'%c)

 5
 ID         MARKS      NAME       CLASS
 1          97         Raymond    7
 2          50         Steven     4
 3          91         Adrian     9
 4          72         Stewart    5
 5          80         Peter      6

78.00

In [23]:
from collections import namedtuple

(n, categories) = (int(input()), input().split())
Grade = namedtuple('Grade', categories)
marks = [int(Grade._make(input().split()).MARKS) for _ in range(n)]
print((sum(marks) / len(marks)))

 5
 ID         MARKS      NAME       CLASS
 1          97         Raymond    7\
 2          50         Steven     4
 3          91         Adrian     9
 4          72         Stewart    5
 5          80         Peter      6

78.0